<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <!--<br><br>-->
            <h3>Create a New Listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation">
                <div class="mb-3">
                    <lable for="title" class="form-label">Title</lable>
                    <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
                    <div class="valid-feedback">Title looks good</div>
                </div>
                <div class="mb-3">
                    <lable for="description" class="form-label">Description</lable>
                    <textarea rows="7" cols="20" type="text" name="listing[description]" placeholder="" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    <lable for="image" class="form-label">Image Link</lable>
                    <input type="text" name="listing[image]" placeholder="enter image URL/link" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <lable for="price" class="form-label">Price</lable>
                        <input name="listing[price]" placeholder="1200" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                </div>
                <div class="mb-3">
                    <lable for="writer" class="form-label">Writer</lable>
                    <input type="text" name="listing[writer]" placeholder="Shakespheres" class="form-control" required>
                    <div class="invalid-feedback">Add writer name</div>
                </div>
                <!--<br><br>-->
                <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
                <br><br><br><br>
    </form>
        </div>
    </div>
</body>